body{
    background-image: url('rb_113112.png');
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    border: 3px solid #00b2fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 400px;
    border-radius: 15px;
}
 /*
form > input{
    margin: 10px;
    border: 2px solid #00b2fe;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 60%;
    height: 30px;
}
*/

form > input:hover{
    background-color: #00b2fe;
    color: whitesmoke;
}

h1 ~ input{
    margin: 10px;
    border: 2px solid #00b2fe;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 60%;
    height: 30px;
}

button{
    background-color: #00b2fe;
    padding: 17px;
    width: 60%;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    
}




